#NoteBook consist of ingridient based data frames 4


*   ing_w

    individual farm ids consist of ing_w

*   ing_x
*   ing_y


*   ing_z

In [ ]:
#mounting google drive to notebook
from google.colab import drive
drive.mount('/content/drive')

#Importing required Libraries

In [ ]:
import os
import glob
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#ing_w

In [ ]:
#reading the file
data_w=pd.read_csv("/content/drive/MyDrive/Capstone/ingredient type/ing_sort/data_w")

In [ ]:
data_w.shape

(12269791, 13)

data_w consist of 12269791 rows and 13 columns

In [ ]:
#displaying first 5 records
data_w.head()

,date,farm_id,ingredient_type,yield,farm_area,farming_company,deidentified_location,temp_obs,wind_direction,dew_temp,pressure_sea_level,precipitation,wind_speed
0,2016-01-01 01:00:00,fid_110884,ing_w,0.0,690.455096,Obery Farms,location 7369,24.4,70.0,21.1,1020.2,-1.0,1.5
1,2016-01-01 01:00:00,fid_90053,ing_w,0.0,252.696160,Obery Farms,location 7369,24.4,70.0,21.1,1020.2,-1.0,1.5
2,2016-01-01 01:00:00,fid_17537,ing_w,0.0,499.446528,Obery Farms,location 7369,24.4,70.0,21.1,1020.2,-1.0,1.5
3,2016-01-01 01:00:00,fid_110392,ing_w,0.0,2200.407555,Obery Farms,location 7369,24.4,70.0,21.1,1020.2,-1.0,1.5
4,2016-01-01 01:00:00,fid_62402,ing_w,0.0,10833.140121,Obery Farms,location 7369,24.4,70.0,21.1,1020.2,-1.0,1.5

In [ ]:
#analysing the missing data percentage
data_w.isnull().sum()*100/len(data_w)

date                     0.0
farm_id                  0.0
ingredient_type          0.0
yield                    0.0
farm_area                0.0
farming_company          0.0
deidentified_location    0.0
temp_obs                 0.0
wind_direction           0.0
dew_temp                 0.0
pressure_sea_level       0.0
precipitation            0.0
wind_speed               0.0
dtype: float64

In [ ]:
unique_ids=data_w['farm_id'].unique()
ids=unique_ids[:10]  # 10 unique farm ids
ids

array(['fid_110884', 'fid_90053', 'fid_17537', 'fid_110392', 'fid_62402',
       'fid_121604', 'fid_85694', 'fid_33785', 'fid_110793', 'fid_32954'],
      dtype=object)

In [ ]:
# converting each farm id as subsets
subsets={}
for i in ids:
  subset=data_w[data_w['farm_id']==i]
  subsets[i] = subset

In [ ]:
subsets

{'fid_110884':                        date     farm_id ingredient_type    yield   farm_area  \
 0       2016-01-01 01:00:00  fid_110884           ing_w    0.000  690.455096
 104     2016-01-01 02:00:00  fid_110884           ing_w    0.000  690.455096
 208     2016-01-01 03:00:00  fid_110884           ing_w    0.000  690.455096
 312     2016-01-01 04:00:00  fid_110884           ing_w    0.000  690.455096
 416     2016-01-01 05:00:00  fid_110884           ing_w    0.000  690.455096
 ...                     ...         ...             ...      ...         ...
 916564  2016-12-31 19:00:00  fid_110884           ing_w  232.071  690.455096
 916669  2016-12-31 20:00:00  fid_110884           ing_w  189.069  690.455096
 916774  2016-12-31 21:00:00  fid_110884           ing_w  169.958  690.455096
 916879  2016-12-31 22:00:00  fid_110884           ing_w  169.958  690.455096
 916984  2016-12-31 23:00:00  fid_110884           ing_w  175.418  690.455096

        farming_company deidentified_location  temp_obs  wind_direction  \
 0          Obery Farms         location 7369      24.4            70.0
 104        Obery Farms         location 7369      22.8             0.0
 208        Obery Farms         location 7369      21.1             0.0
 312        Obery Farms         location 7369      20.0           250.0
 416        Obery Farms         location 7369      19.4             0.0
 ...                ...                   ...       ...             ...
 916564     Obery Farms         location 7369      22.8           140.0
 916669     Obery Farms         location 7369      23.3           170.0
 916774     Obery Farms         location 7369      23.3           150.0
 916879     Obery Farms         location 7369      22.8           160.0
 916984     Obery Farms         location 7369      20.6             0.0

         dew_temp  pressure_sea_level  precipitation  wind_speed
 0           21.1              1020.2           -1.0         1.5
 104         21.1              1020.2            0.0         0.0
 208         20.6              1020.1            0.0         0.0
 312         20.0              1020.0           -1.0         2.6
 416         19.4              1019.7            0.0         0.0
 ...          ...                 ...            ...         ...
 916564      10.0              1021.7            0.0         5.7
 916669       8.9              1021.0            0.0         4.1
 916774      10.0              1021.1            0.0         4.1
 916879      10.0              1021.1            0.0         3.1
 916984      10.0              1021.1            0.0         0.0

 [8783 rows x 13 columns],
 'fid_90053':                        date    farm_id ingredient_type    yield  farm_area  \
 1       2016-01-01 01:00:00  fid_90053           ing_w   0.0000  252.69616
 105     2016-01-01 02:00:00  fid_90053           ing_w   0.0000  252.69616
 209     2016-01-01 03:00:00  fid_90053           ing_w   0.0000  252.69616
 313     2016-01-01 04:00:00  fid_90053           ing_w   0.0000  252.69616
 417     2016-01-01 05:00:00  fid_90053           ing_w   0.0000  252.69616
 ...                     ...        ...             ...      ...        ...
 916565  2016-12-31 19:00:00  fid_90053           ing_w  68.2560  252.69616
 916670  2016-12-31 20:00:00  fid_90053           ing_w  52.4206  252.69616
 916775  2016-12-31 21:00:00  fid_90053           ing_w  53.5127  252.69616
 916880  2016-12-31 22:00:00  fid_90053           ing_w  54.3318  252.69616
 916985  2016-12-31 23:00:00  fid_90053           ing_w  51.0555  252.69616

        farming_company deidentified_location  temp_obs  wind_direction  \
 1          Obery Farms         location 7369      24.4            70.0
 105        Obery Farms         location 7369      22.8             0.0
 209        Obery Farms         location 7369      21.1             0.0
 313        Obery Farms         location 7369      20.0           250.0
 417        Obery Farms         location 7369      19.4             0.0
 ...                ...                   ...       ...             ...
 916565     Obery Farms         location 7369      22.8           140.0
 916670     Obery Farms         location 7369      23.3           170.0
 916775     Obery Farms         location 7369      23.3           150.0
 916880     Obery Farms         location 7369      22.8           160.0
 916985     Obery Farms         location 7369      20.6             0.0

         dew_temp  pressure_sea_level  precipitation  wind_speed
 1           21.1              1020.2           -1.0         1.5
 105         21.1              1020.2            0.0         0.0
 209         20.6              1020.1            0.0         0.0
 313         20.0              1020.0           -1.0         2.6
 417         19.4              1019.7            0.0         0.0
 ...          ...                 ...            ...         ...
 916565      10.0              1021.7            0.0         5.7
 916670       8.9              1021.0            0.0         4.1
 916775      10.0              1021.1            0.0         4.1
 916880      10.0              1021.1            0.0         3.1
 916985      10.0              1021.1            0.0         0.0

 [8783 rows x 13 columns],
 'fid_17537':                        date    farm_id ingredient_type   yield   farm_area  \
 2       2016-01-01 01:00:00  fid_17537           ing_w  0.0000  499.446528
 106     2016-01-01 02:00:00  fid_17537           ing_w  0.0000  499.446528
 210     2016-01-01 03:00:00  fid_17537           ing_w  0.0000  499.446528
 314     2016-01-01 04:00:00  fid_17537           ing_w  0.0000  499.446528
 418     2016-01-01 05:00:00  fid_17537           ing_w  0.0000  499.446528
 ...                     ...        ...             ...     ...         ...
 916566  2016-12-31 19:00:00  fid_17537           ing_w  4.9144  499.446528
 916671  2016-12-31 20:00:00  fid_17537           ing_w  5.3240  499.446528
 916776  2016-12-31 21:00:00  fid_17537           ing_w  5.7335  499.446528
 916881  2016-12-31 22:00:00  fid_17537           ing_w  4.9144  499.446528
 916986  2016-12-31 23:00:00  fid_17537           ing_w  4.9144  499.446528

        farming_company deidentified_location  temp_obs  wind_direction  \
 2          Obery Farms         location 7369      24.4            70.0
 106        Obery Farms         location 7369      22.8             0.0
 210        Obery Farms         location 7369      21.1             0.0
 314        Obery Farms         location 7369      20.0           250.0
 418        Obery Farms         location 7369      19.4             0.0
 ...                ...                   ...       ...             ...
 916566     Obery Farms         location 7369      22.8           140.0
 916671     Obery Farms         location 7369      23.3           170.0
 916776     Obery Farms         location 7369      23.3           150.0
 916881     Obery Farms         location 7369      22.8           160.0
 916986     Obery Farms         location 7369      20.6             0.0

         dew_temp  pressure_sea_level  precipitation  wind_speed
 2           21.1              1020.2           -1.0         1.5
 106         21.1              1020.2            0.0         0.0
 210         20.6              1020.1            0.0         0.0
 314         20.0              1020.0           -1.0         2.6
 418         19.4              1019.7            0.0         0.0
 ...          ...                 ...            ...         ...
 916566      10.0              1021.7            0.0         5.7
 916671       8.9              1021.0            0.0         4.1
 916776      10.0              1021.1            0.0         4.1
 916881      10.0              1021.1            0.0         3.1
 916986      10.0              1021.1            0.0         0.0

 [8783 rows x 13 columns],
 'fid_110392':                        date     farm_id ingredient_type    yield    farm_area  \
 3       2016-01-01 01:00:00  fid_110392           ing_w    0.000  2200.407555
 107     2016-01-01 02:00:00  fid_110392           ing_w    0.000  2200.407555
 211     2016-01-01 03:00:00  fid_110392           ing_w    0.000  2200.407555
 315     2016-01-01 04:00:00  fid_110392           ing_w    0.000  2200.407555
 419     2016-01-01 05:00:00  fid_110392           ing_w    0.000  2200.407555
 ...                     ...         ...             ...      ...          ...
 916567  2016-12-31 19:00:00  fid_110392           ing_w  107.162  2200.407555
 916672  2016-12-31 20:00:00  fid_110392           ing_w  107.162  2200.407555
 916777  2016-12-31 21:00:00  fid_110392           ing_w  106.821  2200.407555
 916882  2016-12-31 22:00:00  fid_110392           ing_w  104.090  2200.407555
 916987  2016-12-31 23:00:00  fid_110392           ing_w  102.725  2200.407555

        farming_company deidentified_location  temp_obs  wind_direction  \
 3          Obery Farms         location 7369      24.4            70.0
 107        Obery Farms         location 7369      22.8             0.0
 211        Obery Farms         location 7369      21.1             0.0
 315        Obery Farms         location 7369      20.0           250.0
 419        Obery Farms         location 7369      19.4             0.0
 ...                ...                   ...       ...             ...
 916567     Obery Farms         location 7369      22.8           140.0
 916672     Obery Farms         location 7369      23.3           170.0
 916777     Obery Farms         location 7369      23.3           150.0
 916882     Obery Farms         location 7369      22.8           160.0
 916987     Obery Farms         location 7369      20.6             0.0

         dew_temp  pressure_sea_level  precipitation  wind_speed
 3           21.1              1020.2           -1.0         1.5
 107         21.1              1020.2            0.0         0.0
 211         20.6              1020.1            0.0         0.0
 315         20.0              1020.0           -1.0         2.6
 419         19.4              1019.7            0.0         0.0
 ...          ...                 ...            ...         ...
 916567      10.0              1021.7            0.0         5.7
 916672       8.9              1021.0            0.0         4.1
 916777      10.0              1021.1            0.0         4.1
 916882      10.0              1021.1            0.0         3.1
 916987      10.0              1021.1            0.0         0.0

 [8783 rows x 13 columns],
 'fid_62402':                        date    farm_id ingredient_type    yield     farm_area  \
 4       2016-01-01 01:00:00  fid_62402           ing_w     0.00  10833.140121
 108     2016-01-01 02:00:00  fid_62402           ing_w     0.00  10833.140121
 212     2016-01-01 03:00:00  fid_62402           ing_w     0.00  10833.140121
 316     2016-01-01 04:00:00  fid_62402           ing_w     0.00  10833.140121
 420     2016-01-01 05:00:00  fid_62402           ing_w     0.00  10833.140121
 ...                     ...        ...             ...      ...           ...
 916568  2016-12-31 19:00:00  fid_62402           ing_w  1150.80  10833.140121
 916673  2016-12-31 20:00:00  fid_62402           ing_w  1197.89  10833.140121
 916778  2016-12-31 21:00:00  fid_62402           ing_w  1147.38  10833.140121
 916883  2016-12-31 22:00:00  fid_62402           ing_w  1130.32  10833.140121
 916988  2016-12-31 23:00:00  fid_62402           ing_w  1162.40  10833.140121

        farming_company deidentified_location  temp_obs  wind_direction  \
 4          Obery Farms         location 7369      24.4            70.0
 108        Obery Farms         location 7369      22.8             0.0
 212        Obery Farms         location 7369      21.1             0.0
 316        Obery Farms         location 7369      20.0           250.0
 420        Obery Farms         location 7369      19.4             0.0
 ...                ...                   ...       ...             ...
 916568     Obery Farms         location 7369      22.8           140.0
 916673     Obery Farms         location 7369      23.3           170.0
 916778     Obery Farms         location 7369      23.3           150.0
 916883     Obery Farms         location 7369      22.8           160.0
 916988     Obery Farms         location 7369      20.6             0.0

         dew_temp  pressure_sea_level  precipitation  wind_speed
 4           21.1              1020.2           -1.0         1.5
 108         21.1              1020.2            0.0         0.0
 212         20.6              1020.1            0.0         0.0
 316         20.0              1020.0           -1.0         2.6
 420         19.4              1019.7            0.0         0.0
 ...          ...                 ...            ...         ...
 916568      10.0              1021.7            0.0         5.7
 916673       8.9              1021.0            0.0         4.1
 916778      10.0              1021.1            0.0         4.1
 916883      10.0              1021.1            0.0         3.1
 916988      10.0              1021.1            0.0         0.0

 [8783 rows x 13 columns],
 'fid_121604':                        date     farm_id ingredient_type    yield  farm_area  \
 5       2016-01-01 01:00:00  fid_121604           ing_w   0.0000    743.224
 109     2016-01-01 02:00:00  fid_121604           ing_w   0.0000    743.224
 213     2016-01-01 03:00:00  fid_121604           ing_w   0.0000    743.224
 317     2016-01-01 04:00:00  fid_121604           ing_w   0.0000    743.224
 421     2016-01-01 05:00:00  fid_121604           ing_w   0.0000    743.224
 ...                     ...         ...             ...      ...        ...
 916569  2016-12-31 19:00:00  fid_121604           ing_w  10.2384    743.224
 916674  2016-12-31 20:00:00  fid_121604           ing_w  18.7704    743.224
 916779  2016-12-31 21:00:00  fid_121604           ing_w   9.2146    743.224
 916884  2016-12-31 22:00:00  fid_121604           ing_w  17.4053    743.224
 916989  2016-12-31 23:00:00  fid_121604           ing_w   8.8733    743.224

        farming_company deidentified_location  temp_obs  wind_direction  \
 5          Obery Farms         location 7369      24.4            70.0
 109        Obery Farms         location 7369      22.8             0.0
 213        Obery Farms         location 7369      21.1             0.0
 317        Obery Farms         location 7369      20.0           250.0
 421        Obery Farms         location 7369      19.4             0.0
 ...                ...                   ...       ...             ...
 916569     Obery Farms         location 7369      22.8           140.0
 916674     Obery Farms         location 7369      23.3           170.0
 916779     Obery Farms         location 7369      23.3           150.0
 916884     Obery Farms         location 7369      22.8           160.0
 916989     Obery Farms         location 7369      20.6             0.0

         dew_temp  pressure_sea_level  precipitation  wind_speed
 5           21.1              1020.2           -1.0         1.5
 109         21.1              1020.2            0.0         0.0
 213         20.6              1020.1            0.0         0.0
 317         20.0              1020.0           -1.0         2.6
 421         19.4              1019.7            0.0         0.0
 ...          ...                 ...            ...         ...
 916569      10.0              1021.7            0.0         5.7
 916674       8.9              1021.0            0.0         4.1
 916779      10.0              1021.1            0.0         4.1
 916884      10.0              1021.1            0.0         3.1
 916989      10.0              1021.1            0.0         0.0

 [8783 rows x 13 columns],
 'fid_85694':                        date    farm_id ingredient_type    yield    farm_area  \
 6       2016-01-01 01:00:00  fid_85694           ing_w    0.000  2594.409178
 110     2016-01-01 02:00:00  fid_85694           ing_w    0.000  2594.409178
 214     2016-01-01 03:00:00  fid_85694           ing_w    0.000  2594.409178
 318     2016-01-01 04:00:00  fid_85694           ing_w    0.000  2594.409178
 422     2016-01-01 05:00:00  fid_85694           ing_w    0.000  2594.409178
 ...                     ...        ...             ...      ...          ...
 916570  2016-12-31 19:00:00  fid_85694           ing_w  264.970  2594.409178
 916675  2016-12-31 20:00:00  fid_85694           ing_w  265.379  2594.409178
 916780  2016-12-31 21:00:00  fid_85694           ing_w  263.741  2594.409178
 916885  2016-12-31 22:00:00  fid_85694           ing_w  258.827  2594.409178
 916990  2016-12-31 23:00:00  fid_85694           ing_w  259.646  2594.409178

           farming_company deidentified_location  temp_obs  wind_direction  \
 6       Dole Food Company         location 7369      24.4            70.0
 110     Dole Food Company         location 7369      22.8             0.0
 214     Dole Food Company         location 7369      21.1             0.0
 318     Dole Food Company         location 7369      20.0           250.0
 422     Dole Food Company         location 7369      19.4             0.0
 ...                   ...                   ...       ...             ...
 916570  Dole Food Company         location 7369      22.8           140.0
 916675  Dole Food Company         location 7369      23.3           170.0
 916780  Dole Food Company         location 7369      23.3           150.0
 916885  Dole Food Company         location 7369      22.8           160.0
 916990  Dole Food Company         location 7369      20.6             0.0

         dew_temp  pressure_sea_level  precipitation  wind_speed
 6           21.1              1020.2           -1.0         1.5
 110         21.1              1020.2            0.0         0.0
 214         20.6              1020.1            0.0         0.0
 318         20.0              1020.0           -1.0         2.6
 422         19.4              1019.7            0.0         0.0
 ...          ...                 ...            ...         ...
 916570      10.0              1021.7            0.0         5.7
 916675       8.9              1021.0            0.0         4.1
 916780      10.0              1021.1            0.0         4.1
 916885      10.0              1021.1            0.0         3.1
 916990      10.0              1021.1            0.0         0.0

 [8783 rows x 13 columns],
 'fid_33785':                        date    farm_id ingredient_type    yield     farm_area  \
 7       2016-01-01 01:00:00  fid_33785           ing_w    0.000  11248.137822
 111     2016-01-01 02:00:00  fid_33785           ing_w    0.000  11248.137822
 215     2016-01-01 03:00:00  fid_33785           ing_w    0.000  11248.137822
 319     2016-01-01 04:00:00  fid_33785           ing_w    0.000  11248.137822
 423     2016-01-01 05:00:00  fid_33785           ing_w    0.000  11248.137822
 ...                     ...        ...             ...      ...           ...
 916571  2016-12-31 19:00:00  fid_33785           ing_w  550.826  11248.137822
 916676  2016-12-31 20:00:00  fid_33785           ing_w  593.145  11248.137822
 916781  2016-12-31 21:00:00  fid_33785           ing_w  557.993  11248.137822
 916886  2016-12-31 22:00:00  fid_33785           ing_w  551.850  11248.137822
 916991  2016-12-31 23:00:00  fid_33785           ing_w  535.468  11248.137822

        farming_company deidentified_location  temp_obs  wind_direction  \
 7          Obery Farms         location 7369      24.4            70.0
 111        Obery Farms         location 7369      22.8             0.0
 215        Obery Farms         location 7369      21.1             0.0
 319        Obery Farms         location 7369      20.0           250.0
 423        Obery Farms         location 7369      19.4             0.0
 ...                ...                   ...       ...             ...
 916571     Obery Farms         location 7369      22.8           140.0

In [ ]:
path='/content/drive/MyDrive/Capstone/farm_ids' #defining the path where i want to save my files

###converting each farm_id consist of ing_w subset into csv file

In [ ]:
%%time
for i in subsets:   #The for loop iterates over each element i in the sequence subsets.
  subsets[i].to_csv(path+'/'+i+'.csv',index=False) #The / symbol is used to separate the directory and the file name,
                                  # and the + symbol is used to concatenate the strings.

CPU times: user 672 ms, sys: 25.8 ms, total: 697 ms
Wall time: 3.94 s

###reading all the files at a time using glob

In [ ]:
# create empty list
list_of_names=[] 
#The glob.glob function is used to search for all files in the directory specified by path 
#that match the pattern *.csv
for i in glob.glob(path+'/'+"*.csv"):
  list_of_names.append(i)

In [ ]:
 #create empty list
dataframes_list = []
#For each iteration of the loop, the line temp_df=pd.read_csv(list_of_names[i]) reads the .csv file 
#at the index i of the list list_of_names into a pandas dataframe 
for i in range (len(list_of_names)):
  temp_df=pd.read_csv(list_of_names[i])
  dataframes_list.append(temp_df)

In [ ]:
for i in dataframes_list:
  print(i.shape)

(8783, 13)
(8783, 13)
(8783, 13)
(8783, 13)
(8783, 13)
(8783, 13)
(8783, 13)
(8783, 13)
(8783, 13)
(8783, 13)

In [ ]:
data1=dataframes_list[0] # 0th index values are taking in data1
data1

,date,farm_id,ingredient_type,yield,farm_area,farming_company,deidentified_location,temp_obs,wind_direction,dew_temp,pressure_sea_level,precipitation,wind_speed
0,2016-01-01 01:00:00,fid_110884,ing_w,0.000,690.455096,Obery Farms,location 7369,24.4,70.0,21.1,1020.2,-1.0,1.5
1,2016-01-01 02:00:00,fid_110884,ing_w,0.000,690.455096,Obery Farms,location 7369,22.8,0.0,21.1,1020.2,0.0,0.0
2,2016-01-01 03:00:00,fid_110884,ing_w,0.000,690.455096,Obery Farms,location 7369,21.1,0.0,20.6,1020.1,0.0,0.0
3,2016-01-01 04:00:00,fid_110884,ing_w,0.000,690.455096,Obery Farms,location 7369,20.0,250.0,20.0,1020.0,-1.0,2.6
4,2016-01-01 05:00:00,fid_110884,ing_w,0.000,690.455096,Obery Farms,location 7369,19.4,0.0,19.4,1019.7,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8778,2016-12-31 19:00:00,fid_110884,ing_w,232.071,690.455096,Obery Farms,location 7369,22.8,140.0,10.0,1021.7,0.0,5.7
8779,2016-12-31 20:00:00,fid_110884,ing_w,189.069,690.455096,Obery Farms,location 7369,23.3,170.0,8.9,1021.0,0.0,4.1
8780,2016-12-31 21:00:00,fid_110884,ing_w,169.958,690.455096,Obery Farms,location 7369,23.3,150.0,10.0,1021.1,0.0,4.1
8781,2016-12-31 22:00:00,fid_110884,ing_w,169.958,690.455096,Obery Farms,location 7369,22.8,160.0,10.0,1021.1,0.0,3.1
8782,2016-12-31 23:00:00,fid_110884,ing_w,175.418,690.455096,Obery Farms,location 7369,20.6,0.0,10.0,1021.1,0.0,0.0

In [ ]:
# data_w[data_w['farm_id']== 'fid_100053']

# Repeating same above for other ingridients also

#ing_x

In [ ]:
data_x=pd.read_csv('/content/drive/MyDrive/Capstone/ingredient type/ing_sort/ing_x.csv')

In [ ]:
data_x.drop(['operations_commencing_year','num_processing_plants','cloudiness'],axis=1,inplace=True)

In [ ]:
data_x.drop([0],axis=0,inplace=True)

In [ ]:
#taking missing colums in a list
missing_col=['temp_obs','wind_direction','dew_temp','pressure_sea_level','precipitation','wind_speed']
data_x=interpolate_columns(data_x,missing_col)

In [ ]:
data_x.isnull().sum()

In [ ]:
#saving cleaned data_w to csv
data_x.to_csv('/content/drive/MyDrive/Capstone/ingredient type/data_x')

#ing_y

In [ ]:
data_y=pd.read_csv('/content/drive/MyDrive/Capstone/ingredient type/ing_sort/ing_y.csv')

In [ ]:
data_y.drop(['operations_commencing_year','num_processing_plants','cloudiness'],axis=1,inplace=True)

In [ ]:
data_y.drop([0],axis=0,inplace=True)

In [ ]:
#taking missing colums in a list
missing_col=['temp_obs','wind_direction','dew_temp','pressure_sea_level','precipitation','wind_speed']
data_y=interpolate_columns(data_y,missing_col)

In [ ]:
#saving cleaned data_y to csv
data_y.to_csv('/content/drive/MyDrive/Capstone/ingredient type/data_y')

#ing_z

In [ ]:
data_z=pd.read_csv('/content/drive/MyDrive/Capstone/ingredient type/ing_sort/ing_z.csv')

In [ ]:
data_z.drop(['operations_commencing_year','num_processing_plants','cloudiness'],axis=1,inplace=True)

In [ ]:
data_z.drop([0],axis=0,inplace=True)

In [ ]:
#taking missing colums in a list
missing_col=['temp_obs','wind_direction','dew_temp','pressure_sea_level','precipitation','wind_speed']
data_z=interpolate_columns(data_z,missing_col)

In [ ]:
#saving cleaned data_y to csv
data_z.to_csv('/content/drive/MyDrive/Capstone/ingredient type/data_z')

# Test_w

In [ ]:
test_w=pd.read_csv('/content/drive/MyDrive/Capstone/ingredient type/test_w')
test_w

,date,farm_id,ingredient_type,id,farm_area,farming_company,deidentified_location,temp_obs,wind_direction,dew_temp,pressure_sea_level,precipitation,wind_speed
0,2017-01-01 00:00:00,fid_110884,ing_w,0,690.455096,Obery Farms,location 7369,17.8,100.0,11.7,1021.4,0.0,3.6
1,2017-01-01 00:00:00,fid_90053,ing_w,1,252.696160,Obery Farms,location 7369,17.8,100.0,11.7,1021.4,0.0,3.6
2,2017-01-01 00:00:00,fid_17537,ing_w,2,499.446528,Obery Farms,location 7369,17.8,100.0,11.7,1021.4,0.0,3.6
3,2017-01-01 00:00:00,fid_110392,ing_w,3,2200.407555,Obery Farms,location 7369,17.8,100.0,11.7,1021.4,0.0,3.6
4,2017-01-01 00:00:00,fid_62402,ing_w,4,10833.140121,Obery Farms,location 7369,17.8,100.0,11.7,1021.4,0.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12599379,2017-12-31 23:00:00,fid_74945,ing_w,26001706,7561.375170,Obery Farms,location 868,-21.1,270.0,-26.8,1029.8,2.0,4.6
12599380,2017-12-31 23:00:00,fid_36739,ing_w,26001709,14173.188777,Obery Farms,location 868,-21.1,270.0,-26.8,1029.8,2.0,4.6
12599381,2017-12-31 23:00:00,fid_112848,ing_w,26001711,6320.191090,Obery Farms,location 868,-21.1,270.0,-26.8,1029.8,2.0,4.6
12599382,2017-12-31 23:00:00,fid_58769,ing_w,26001714,8659.117018,Obery Farms,location 868,-21.1,270.0,-26.8,1029.8,2.0,4.6
12599383,2017-12-31 23:00:00,fid_117010,ing_w,26001717,11857.395696,Obery Farms,location 868,-21.1,270.0,-26.8,1029.8,2.0,4.6

In [ ]:
# converting each farm id as subsets
subsets={}
for i in ids:
  subset=test_w[test_w['farm_id']==i]
  subsets[i] = subset

In [ ]:
subsets

In [ ]:
subsets['fid_110392']

In [ ]:
path='/content/drive/MyDrive/Capstone/farm_ids/test_farm_ids'

In [ ]:
%%time
for i in subsets:   #The for loop iterates over each element i in the sequence subsets.
  subsets[i].to_csv(path+'/'+i+'.csv',index=False) #The / symbol is used to separate the directory and the file name,
                                  # and the + symbol is used to concatenate the strings.

CPU times: user 646 ms, sys: 19.9 ms, total: 666 ms
Wall time: 3 s

In [ ]:
subsets.keys()

dict_keys(['fid_110884', 'fid_90053', 'fid_17537', 'fid_110392', 'fid_62402', 'fid_121604', 'fid_85694', 'fid_33785', 'fid_110793', 'fid_32954'])

In [ ]:
ids

array(['fid_110884', 'fid_90053', 'fid_17537', 'fid_110392', 'fid_62402',
       'fid_121604', 'fid_85694', 'fid_33785', 'fid_110793', 'fid_32954'],
      dtype=object)